<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="{% static 'css/style.css' %}"/>
    <script src="{% static 'js/script.js' %}"></script>

    <title>About Thina</title>
</head>

<body>

<div class="intro">
    <h2><strong>Fathinah A. Izzati</strong></h2>
    <h3><strong>180623544</strong></h3>
    <img id="my_pict" src="{% static 'img/thina.jpg' %}">
</div>


<div class="full-width"><input type="checkbox" id="switch" name="theme" style="opacity: 0;"/><label class="lbl" for="switch">swipe</label>
</div>

<div class="div-accord">
    <div class="accordion">

        <div class="accordion-header">Activities</div>
        <div class="accordion-content">
            <ul>
                <li>Student of CS UI 2020</li>
                <li>IndonesiaMUN.org developer and maintainer</li>
                <li>uimunclub.ui.ac.id developer and maintainer</li>
            </ul>
        </div>

        <div class="accordion-header">Oranization and Non-Academic Life</div>
        <div class="accordion-content">
            <ul>
                <li>Vice Manager IM SISTEM</li>
                <li>Vice Data Science Academy COMPFEST 12</li>
                <li>UI MUN Club IT Support</li>
            </ul>
        </div>

        <div class="accordion-header">Achievements</div>
        <div class="accordion-content">
            <ol>
                <li>2nd winner of english debate comp</li>
                <li>Best delegate IHRMUN</li>
                <li>indonesiamun.org and uimunclub.ui.ac.i developer</li>
                <li>UI for SMUN 2020</li>
            </ol>
        </div>

    </div>


</div>
</body>
</html>
