<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Thina's Page</title>
     <link rel="stylesheet" href="{% static 'css/style.css' %}"/>
</head>
<body>
<h1>Welcome to the club!</h1>
<h3 id="online_stat">Developer's Online Status</h3>

<form action="" method="POST">
    {% csrf_token %}
    {{ form }}
    <button id="tombol" type="submit">Add</button>
</form>

<hr>
<h3>Status</h3>
{% for items in data %}
    <h4> {{ items.message }} </h4>
    <p> {{ items.time }} </p>
{% endfor %}

<a href=/about/ id="abt" class="btn">Tekan ini</a>


</body>
</html>