body {
    background: lightpink;
    color: white;
    height: 100vh;
}

.judul {
    display: flex;
    align-items: center;
    justify-content: center;
}

.form {
    background-color: #5b80b2;
    padding: 10vh;

}

.content {
    font-size: 6vw;
    font-style: italic;
    align-items: center;
    justify-content: center;
    display: flex;
}

.tombol {
    margin-top: 3%;
    align-items: center;
    justify-content: center;
    display: flex;
}
