body {
    margin-top: 2%;
    background: darkseagreen;
    color: white;
}

.judul {
    text-align: center;
}

.input {

    float: right;
    margin-right: 2%;
}

.content {
    margin-top: 3%;
    align-items: center;
    justify-content: center;
    display: flex;
}
