body {
    background-color: var(--bg);
}

html {
    --bg: #7DC2AF;
    --bg-accord: #C38D9D;
    --bg-content: #E8A87C;
}

html[data-theme='dark'] {
    --bg: #1E24AE;
    --bg-accord: #563D67;
    --bg-content: #99728D;
}

.accordion {
    width: 100%;
    background: var(--bg-accord);
}

.accordion-header {
    border-bottom: 1px solid #dde0e7;
    color: black;
    cursor: pointer;
    font-weight: 700;
    padding: 1.5rem;
}

.accordion-content {
    display: none;
    border-bottom: 1px solid #dde0e7;
    background: var(--bg-content);
    padding: 1.5rem;
    color: whitesmoke;
}

.accordion-header::before {
    content: "";
    vertical-align: middle;
    display: inline-block;
    width: 0.75rem;
    height: 0.75rem;
    border-radius: 50%;
    background-color: plum;
    margin-right: 0.75rem;
}

.active.accordion-header::before {
    background-color: gold;
}

.loader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("/static/img/load.gif");
    background-repeat: no-repeat;
    background-color: #E5EFF1;
    background-position: center;
}




.lbl {
    cursor: pointer;
    width: 52px;
    height: 27px;
    background: grey;
    border-radius: 100px;
    position: relative;
}

.lbl:after {
    content: '';
    position: absolute;
    top: 3px;
    left: 3px;
    width: 20px;
    height: 20px;
    background: #fff;
    border-radius: 90px;
    transition: 0.3s;
}

input:checked + .lbl:after {
    left: calc(100% - 5px);
    transform: translateX(-100%);
}

.lbl:active:after {
    width: 45px;
}

html.transition,
html.transition *,
html.transition *:before,
html.transition *:after {
    transition: all 750ms !important;

}

.intro {
    text-align: center;

}

#my_pict {
    width: 20vw;
    border-radius: 50%;
}

.div-accord {
    background-color: navajowhite;
    border: #eff8f3 20px solid;
    color: #404e88;
    margin: 10%;
    margin-top: 3vh;
}

.full-width {
    width: 100%;
    margin-top: 5vh;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn{
  background-color: lightpink;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
